body {
    background-color: powderblue;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

div {
    width: 1024px;
    margin-left: auto;
    margin-right: auto;

}

header {
    background-color: rgba(255, 255, 255, 0.247);
    padding-top: 25px;
    padding-bottom: 25px;
    /* background-size: cover;
    background-repeat: no-repeat;
    background-position: center; */
    margin-bottom: 25px;
}

h1 {
    color: pink;
    font-size: 70px;
    margin-bottom: 20px;
}

h2 {
    padding-bottom: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-decoration: overline;
}

a {
    text-decoration: none;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0px;
    color: white;
    font-size: 20px;
}

nav {
    width: 1024px;
    background-color: rgba(255, 255, 255, 0.247);
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 25px;
}

main {
    width: 1024px;
    height: 1170px;
    background-color: rgba(255, 255, 255, 0.247);
    margin-bottom: 20px;
}

.left {
    width: 452px;
    float: left;
    margin-top: 30px;
    margin-left: 35px;
    margin-right: 20px;
}

.right {
    width: 452px;
    float: right;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 35px;
}

footer {
    width: 1024px;
    background-color: rgba(255, 255, 255, 0.247);
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 25px;
}