body {
    background-color: rgb(255, 236, 249);
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

div {
    margin: 0 auto;
    /* margin-left: auto; */
    /* margin-right: auto; */
    width: 1400px;
    /* display: flex; */
    /* flex-flow: column; */
    /* justify-content: space-around; */
    /* align-items: flex-start; */
}

/* header { */
    /* background-color: rgba(255, 255, 255, 0.404); */
    /* padding-top: 15px; */
    /* padding-bottom: 15px; */
    /* background-size: cover; */
    /* background-repeat: no-repeat; */
    /* background-position: center; */
    /* margin-bottom: 25px; */
/* } */

h1 {
    color: #FFBFB7;
    font-size: 60px;
    margin-bottom: 20px;
}

/* h2 {
    padding-bottom: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: #ffbfb779;
    text-decoration: overline;
} */

a {
    text-decoration: none;
    /* padding-left: 15px; */
    /* padding-right: 15px; */
    /* margin: 0px; */
    color: #52B0B4;
    font-size: 20px;
    /* border-bottom: dotted #52B0B4; */
    border: dotted 4px pink;
    padding: 10px;
    background-color: #ffbfb727;
}

nav {
    /* background-color: #ffbfb727; */
    padding-top: 15px;
    padding-bottom: 15px;
    /* margin-bottom: 25px; */
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}

main {
    /* background-color: grey; */
    /* margin-bottom: 25px; */
    /* padding-bottom: 42px; */
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    /* height: 100px; */
    /* width: 100%; */
}

.img-box {
    height: 252px;
    width: 448px;
    /* border: solid 4px pink; */
    margin: 10px 0;
}

img {
    height: 252px;
    /* width: 448px; */
    /* margin-top: 42px; */
    /* object-fit: fill; */
    /* flex-basis: 100%; */
}

.logo {
    object-fit: cover;
}

/* .image-1 {
    padding: 0px;
    float: left;
    height: 252px;
    width: auto; 448px
    margin-left: 42px;
    margin-right: 32px;
    margin-top: 42px;
    position: absolute;
    left: 45px;
    top: 45px;
} */

/* .image-2 {
    padding: 0px;
    float: left;
    height: 252px;
    width: auto; 448px
    margin-left: 42px;
    margin-right: 64px;
    margin-top: 42px;
    position: absolute;
    left: 45px;
    top: 45px;
} */

footer {
    /* width: 1024px; */
    /* background-color: #ffbfb727; */
    padding-top: 15px;
    padding-bottom: 15px;
    /* margin-bottom: 25px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: row wrap;
}

/* .box {
    height: 150px;
    width: 200px;
    background-color: black;
    position: fixed;
    top: 10px;
    left: 10px;
    color: white;
}

#ex {
    background-color: blue;
} */